<div class="col-3 d-flex justify-content-center" id="object-1">
  <div class="w-100">
    <div id="option" class="line">
      Option
    </div>
    <div id="quantity" class="line">
      Quantity
      <input
        type="number"
        class="form-control"
        id="quantityInput"
        placeholder="Quantity of objects"
      />
    </div>
  </div>
</div>
