<div class="col-3 flex-grow-0 justify-content-center" id="object-1">
  <div class="w-100">
    <div id="option" class="line">
      Option
    </div>
    <div id="quantity" class="line">
      Quantity
      <input
        type="number"
        min="0"
        class="form-control"
        id="quantityInput"
        placeholder="Quantity of items"
      />
    </div>
    <div class="line">
      <p class="h6">
        Choose the options and quantity of items you want us to display
      </p>
    </div>
  </div>
</div>
