<div class="col-2 flex-grow-0 justify-content-center" id="object-2">
  <div class="w-100">
    <div class="line" id="option-dropdown">
      <button
        class="btn dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Dropdown
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Option A</a>
        <a class="dropdown-item" href="#">Option B</a>
      </div>
    </div>
  </div>
</div>
