<div class="d-flex col-7 justify-content-center" id="object-3">
  <div class="w-100">
    <div class="line line-item">
      Item A1
    </div>
    <div class="line line-item">
      Item A2
    </div>
    <div class="line line-item">
      Item A3
    </div>
  </div>
</div>
