#object-1 {
  height: 100vh;
  width: 100%;
  background-color: var(--darker-color);
  padding: 0 0;
  border-left: solid 1px white;
  border-right: solid 1px white;
}

#options-button,
#quantity {
  background-color: var(--lighter-color);
  border-top: solid 1px white;
  border-bottom: solid 1px white;
}

input {
  text-align: center;
  margin-top: 0.2rem;
}
