#object-3 {
  width: 100%;
  padding: 0 2rem;
  background-color: var(--darker-color);
  border-left: solid 1px white;
  border-right: solid 1px white;
}

.line-item {
  background-color: var(--lighter-color);
  border: solid 1px white;
}
