#object-2 {
  width: 35rem;
  background-color: white;
  transition: 1.5s ease-in;
}

.w-0 {
  width: 0 !important;
}

.dropdown-menu {
  text-align: center;
  width: 2rem !important;
}

button {
  background-color: var(--lighter-color);
  color: white;
}

.object-show {
  z-index: 500;
}
